/*  your css code here. If applicable */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:ital@1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Dots&display=swap');
h1{
	 font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}
p{
	font-size:24px;
	  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

li{
	 font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
	
}